<h2>Important Dates</h2>

<ul>
  <li>3/27/17 Submission window opens</li>
  <li>4/21/17 Complete application packages due</li>
  <li>4/26/17 Award recipients notified</li>
  <li>5/5/17 Awards given during the Undergraduate Scholars Conference Awards Reception</li>
</ul>
