<h2>Important Dates</h2>

<ul>
  <li>3/1/18 Submission window opens</li>
  <li>4/13/18 Complete application packages due</li>
  <li>4/24/18 Award recipients notified</li>
  <li>5/4/18 Awards given during the Undergraduate Scholars Conference Awards Reception</li>
</ul>
